.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100px;
  min-width: 100px;
}
[aria-expanded='true'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}
