* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply text-text-primary-light dark:text-text-primary-dark;
}

body {
  @apply bg-primary-light dark:bg-primary-dark;
}

.height-screen {
  max-height: 100vh;
  min-height: 100vh;

  max-height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}
